<h1>Name: </h1>
<%= @name %>
<br/>
<h1>Photo: </h1>
<%=image_tag("IMG_2749.jpg", alt: "Example Image")%>
<br/>
<li id="location">
  <h1>Where I'm From: </h1>
  <%= @location %>
</li>
<br />
<li id="year">
  <h1>Year: </h1>
  <%= @year %>
  </li>
<br />
<li id="funfact">
  <h1>Fun Fact:</h1>
  <%= @funfact %>
</li>
<li id="excitement">
  <h1>What I'm Excited For:</h1>
  <%= @excitement %>
</li>